{% extends 'layouts/main.html' %}
{% block title %}New Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" action="/venues/create">
      <h3 class="form-heading">List a new venue <a href="{{ url_for('main.index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_='form-control', autofocus=true, value=data.get('name', '')) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_='form-control', placeholder='City', autofocus=true, value=data.get('city', '')) }}
            </div>
            <div class="form-group">
              {{ form.state(class_='form-control', placeholder='State', autofocus=true, value=data.get('state', '')) }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_='form-control', autofocus=true, value=data.get('address', '')) }}
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_='form-control', placeholder='xxx-xxx-xxxx', autofocus=true, value=data.get('phone', '')) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_='form-control', placeholder='Genres, separated by commas', autofocus=true, value=data.get('genres', '')) }}
      </div>
      
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_='form-control', placeholder='http://', autofocus=true, value=data.get('facebook_link', '')) }}
       </div>
      
       <div class="form-group">
          <label for="image_link">Image Link</label>
          {{ form.image_link(class_='form-control', placeholder='http://', autofocus=true, value=data.get('image_link', '')) }}
       </div>

       <div class="form-group">
            <label for="website_link">Website Link</label>
            {{ form.website_link(class_='form-control', placeholder='http://', autofocus=true, value=data.get('website_link', '')) }}
       </div>

       <div class="form-group">
             <label for="seeking_talent">Looking for Talent</label>
             {{ form.seeking_talent(placeholder='Venue', autofocus=true) }}
       </div>

       <div class="form-group">
            <label for="seeking_description">Seeking Description</label>
            {{ form.seeking_description(class_='form-control', placeholder='Description', autofocus=true, value=data.get('seeking_description', '')) }}
       </div>
      <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
